:root {
    --dark: #29313e;
    --green: #85bd3e;
    --green-dark: #73a336;
    --white: #ffffff;
    --dark-light: #f0f0f0;
    --success: var(--green);

}

body {
    font-family: "Overpass", "Helvetica Neue", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--dark);
    font-weight: 300;
}

a {
    color: var(--green);
}

a:hover {
    color: var(--green-dark);
}

.font-green {
    color: var(--green);
}

.font-white {
    color: var(--white);
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-light {
    background-color: var(--dark-light) !important;
}

.navbar {
    padding: .5rem 0;
}

@media (min-width: 576px) {
    .navbar .nav-item.active:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 70%;
        border-bottom: .15rem solid var(--green);
    }
}


.jumbotron {
    color: var(--white);
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.jumbotron .heading {
    font-size: 3.5rem;
    font-weight: 600;
}


.jumbotron .lead {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2;
}

.jumbotron-icon {
    margin-bottom: -5.6rem;
    max-height: 400px;
}

#scroller {
    /*    margin-top: -4.6rem;*/
}

#scroller a {
    color: var(--white);
}


#scroller a:hover {
    color: var(--white);
    text-decoration: none;
    opacity: 0.8;
}

#scroller a div {
    width: 2rem;
    height: 3.1rem;
    border: 2px solid #fff;
    border-radius: 50px;
    position: relative;
    left: 50%;
    margin-left: -15px;
    top: 0px;
}

#scroller a div::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.section-heading {
    font-size: 2rem;
    font-weight: 300;
}

.section-subheading {
    font-size: 1.2rem;
    font-weight: 300;
}

.section-text {
    font-size: 1rem;
    font-weight: 300;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

.carousel-inner {
    width: 80%;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: var(--dark);
    border: 1.5px solid var(--white);
}

footer {
    background-color: var(--dark) !important;
    color: rgba(255, 255, 255, .5);
}

footer a {
    color: rgba(255, 255, 255, .5);
}

footer a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.btn-green {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}


.btn-green:hover {
    color: #fff;
    background-color: var(--green-dark);
    border-color: #6a9731;
}

.btn-green:focus,
.btn-green.focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 189, 62, 0.5);
}

.btn-green.disabled,
.btn-green:disabled {
    color: #fff;
    background-color: var(--green-dark);
    border-color: var(--green-dark);
}
